* {
  box-sizing: border-box;
}
nav {
  height: 60px;
}

.jumbotron {
  display: flex;
  align-self: center;
  justify-content: center;
  height: 300px;
  padding-top: 100px;
}
.j-header {
  font-size: 40px;
}
ul {
  list-style: none;
}
.row {
  padding-bottom: 30px;
  margin-bottom: 10px;
}
